@import url('http://fonts.googleapis.com/css?family=Lato');
ul{
  position:relative;
  list-style: none;
  margin: 30px 0px 0px 0px;
}
ul li{
  
  position: relative;
  margin: 0px 200px 0px 0px;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
	
  display: block;
  position: relative;
  font-weight: 700;
  margin: 20px 0px 0px 30px;
  z-index: 9;
  cursor:pointer;
  pointer-events: auto;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label{
	
	color: #5264AE;
}

ul li .check{
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 30;
  width: 30px;
  top: -22px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

ul li:hover .check {
  border: 4px solid #5264AE;
}

ul li .check::before {
	
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 5px;
  left: 5px;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #999;
}

input[type=radio]:checked ~ .check::before{
  background: #999;
}

input[type=radio]:checked ~ label{
  color: #999;
}
