.body 
{
position:relative;
overflow: auto;
}
p{
  font-size:20px;
  font-weight:700;
  color:#999;
}

div.position
{	
	position:relative;
	margin:30px 490px 0px 525px;
	padding:10px;
}
div.container
{
position:relative;
margin:10px 0px 20px 0px;
}
div.containercbx
{
position:relative;
margin:20px 650px 0px 0px;
}
div.containercbx2
{
position:relative;
left:160px;
bottom:70px;
margin:40px 645px -60px 0px;
}