div.name{
position:relative;
font-size:18px;
font-weight:700;
color:#999; 
top:-5px;
}
div.sn{
position:relative;
font-size:18px;
font-weight:700;
color:#999; 
top:5px;
}
div.add{
position:relative;
font-size:18px;
font-weight:700;
color:#999; 
top:15px;
}
div.email{
position:relative;
font-size:18px;
font-weight:700;
color:#999; 
top:30px;
}
div.cn{
position:relative;
font-size:18px;
font-weight:700;
color:#999; 
top:40px;
}
div.yr{
position:relative;
font-size:18px;
font-weight:700;
color:#999; 
top:50px;
}
div.cr{
position:relative;
font-size:18px;
font-weight:700;
color:#999; 
top:60px;
}
div.mem{
position:relative;
font-size:18px;
font-weight:700;
color:#999; 
top:70px;
}
div.rem{
position:relative;
font-size:18px;
font-weight:700;
color:#999; 
top:110px;
}
div.pay{
position:relative;
font-size:18px;
font-weight:700;
color:#999; 
top:80px;
}
div.btn
{
	position:absolute;
	bottom:-190px;
	right:30px;
}
div.position
{	
    position:relative;
	margin:55px 490px 0px 525px;
	padding:10px;
}